<mat-card>
  <mat-card-header>
    <mat-card-title>Task List</mat-card-title>
    <mat-card-subtitle>Tasks not done</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-todo-list-item
      *ngFor="let task of taskList; index as id"
      [taskId]="id"
      [taskObj]="task"
      (warnTaskWasDone)="markAsDone($event)"
      ><p>Anotações da Tarefa {{ id + 1 }}</p>
    </app-todo-list-item>
  </mat-card-content>
  <mat-spinner *ngIf="!taskList.length"></mat-spinner>
</mat-card>
