<mat-card>
  <mat-card-header>
    <mat-card-title>Task List</mat-card-title>
    <mat-card-subtitle>Tasks not done</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="taskList$ | async as taskList; else displaySpinner">
    <app-todo-list-item
      *ngFor="let task of taskList; index as id"
      [taskObj]="task"
      [taskId]="id"
      (warnTaskWasDone)="markAsDone($event)"
    >
      <p>Anotações da Tarefa {{ id + 1 }}</p>
    </app-todo-list-item>
  </mat-card-content>

  <ng-template #displaySpinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</mat-card>
