<mat-toolbar *ngIf="render" color="primary">
  <span>Todo List App</span>
  <span class="spacer"></span>
  <button
    routerLink="list-tasks"
    routerLinkActive="active-border"
    mat-raised-button
    class="custom-button"
  >
    List Tasks
  </button>
  <button
    routerLink="update-task"
    routerLinkActive="active-border"
    mat-raised-button
    class="custom-button"
  >
    Update Task
  </button>
  <button
    routerLink="create-task"
    routerLinkActive="active-border"
    mat-raised-button
    class="custom-button"
  >
    Create Task
  </button>
  <!-- <button
    routerLink="login"
    routerLinkActive="white-border"
    mat-raised-button
    color="primary"
    >
    Login
  </button> -->
  <button
    (click)="logoutUser()"
    mat-raised-button
    color="warn"
    class="custom-button"
  >
    Logout
  </button>
</mat-toolbar>
