<mat-card>
  <form
    *ngIf="taskForm"
    [formGroup]="taskForm"
    (submit)="onSubmit()"
    class="task-form"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Due Date</mat-label>
      <input matInput formControlName="dueDate" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of taskPriorities" [value]="priority">
          {{ priority }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="done">Task Done</mat-checkbox>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="submit-button"
    >
      Submit
    </button>
  </form>
</mat-card>
