.bg-red,
.high {
  background-color: #f56969;
}

.bg-orange,
.medium {
  background-color: #f5b869;
}

.bg-yellow,
.low {
  background-color: #f5e769;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.custom-button {
  cursor: pointer;
  margin-left: 10px;
}
