<!-- <mat-expansion-panel [ngStyle]="{ backgroundColor: getColor() }" *ngIf="task"> -->
<div *ngIf="task" class="item-container">
  <mat-checkbox
    #checkboxInput
    [checked]="task.done"
    (change)="markAsDone($event)"
    style="margin-right: 12px"
  ></mat-checkbox>
  <mat-expansion-panel [ngClass]="getClass()" style="flex: 1">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ task.title }} </mat-panel-title>
      <mat-panel-description>
        {{ task.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>Due Date: {{ task.dueDate }}</p>
      <p>Priority: {{ task.priority }}</p>
    </div>
    <i>
      <ng-content></ng-content>
    </i>
  </mat-expansion-panel>
  <div>
    <mat-icon
      appSimpleHighlight
      class="custom-button"
      color="primary"
      aria-hidden="false"
      aria-label="Edit"
      (click)="editTask()"
      >edit</mat-icon
    >
    <mat-icon
      appSimpleHighlight
      class="custom-button"
      color="warn"
      aria-hidden="false"
      aria-label="Delete"
      (click)="deleteTask()"
      >delete</mat-icon
    >
  </div>
</div>
